.friendsListItemName {
    text-align: center;
    margin-top: 10px;
}

.friendItemStatus {
    color: red;
    font-size: 12px;
    text-align: center;
}

.friendItemStatus.isOnline {
    color: green;
}