table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 20px;

}

thead th {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

tbody tr:nth-child(even) {
    background-color: white;
}